<div>
  <nav>
    <span>ANIME QUIZ</span>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/quiz"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Quiz</a
        >
      </li>
      <li>
        <a
          routerLink="/score"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Best Score</a
        >
      </li>
    </ul>
  </nav>
</div>
