<app-navbar></app-navbar>

<div class="container-home">
  <p>
    Plonge dans l'univers des animés et teste tes connaissances avec des quiz
    passionnants. Que tu sois un fan inconditionnel de séries cultes ou un
    curieux prêt à découvrir de nouveaux mondes, AnimeQuiz est fait pour toi !
  </p>

  <div>
    <h2>Des questions pour tous les niveaux</h2>
    <p>
      Des classiques comme Naruto et One Piece aux nouveautés comme Jujutsu
      Kaisen et Demon Slayer, il y en a pour tous les goûts !
    </p>
  </div>

  <p>
    Es-tu prêt à prouver que tu es un véritable expert en animés ? Lance-toi
    maintenant et découvre si tu es digne d'être un otaku légendaire !
  </p>

  <button (click)="goToQuiz()">Lancez-vous maintenant !</button>
</div>
